body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  background-color: orange;
  border: 2px solid blue;
  
}
h2 {
  text-align: center;
  color: black;
  font-weight: bold;
}

#carryout, #homedelivery {
  text-align: center;
  color: red;
  font-weight: bold;
}

#submit{
  float: center;
}

#home, #menu, #chkout, #login, #signup{
  color: white;
}

#footer {
  height:100px;
  background-color:gray;
  color:black;
  text-align:center;
  padding-top:5px;
  bottom:0;
  position: relative;
  width:100%;
  color:white;
}
.pepproni {
  height: 200;
  width: 200px;
 margin: 0 5px 0 5px;
}

.pizzasection {
  display:flex;
  justify-content: center;
  align-items: center;
}


